body {
    background-color: midnightblue;
    color: white;
    font-size: 18px; 
}

h1 {
   text-align: center;
}

.accordion {
    max-width: 635px;
    margin: 0 auto;
}

.meme-item {
    margin-bottom: 5px;
    border: 2px solid royalblue;  
}
 
.meme-title {
    display: block;
    cursor: pointer;
    position: relative;
    padding: 10px 15px;
    transition: 1s;
}
 

.meme-title:after {
    content: "";
    display: block;

    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: white 
    transparent transparent transparent;

    position: absolute;
    top: 50%;
    right: 20px;

    transform: translateY(-50%);
    transition: 1s;
}

.meme-input { /*скрыть кнопку*/    
    appearance: none;     
}

.meme-input:checked ~ .meme-image {
   height: 350px;
}

.meme-input:hover ~ .meme-image {
    height: 350px;
} 

.meme-item:hover .meme-image {
    height: 350px;
} 

.meme-input:hover ~ .meme-title::after {
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color:
    transparent transparent white 
    transparent;
}

.meme-image {
    padding: 10px 15px;    
    height: 0;
    transition: 2s;
}

.meme-image:hover {
    height: 350px;
}

#first-image { 
    height: 100%;
}


@media (max-width: 1280px) {
    body {
        font-size: 16px;
    }
    
    img {
        width: 500px;
    }
}

@media (max-width: 640px) {
    body {
        font-size: 14px;
    }
    
    img {
        width: 350px;
    }
}